h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-medium;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-base;
}

h5 {
    @apply text-sm;
}

h6 {
    @apply text-xs;
}