.nav-link {
    @apply rounded-full px-5 py-3 text-sm transition-all duration-200 block border;
}

.nav-link:hover {
    @apply bg-white;
}

.nav-link.active {
    @apply bg-black text-white border-transparent;
}