@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@import "./styles//parts/index.css";
@import "./styles/variables.css";

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-window-color);
}